<header class="header">
  <lucide-icon name="edit" class="myicon"></lucide-icon>
  <h1 class="header__title">Annuaire aléatoire</h1>
  <p class="header__text">
    Cet annuaire permet d'ajouter des gens au hasard grâce à une API aléatoire.
    Have fun!
  </p>
  <input
    type="button"
    value="Ajouter un utilisateur"
    id="addButton"
    class="header__button"
    (click)="userService.addBeer()"
  />
</header>
<main class="peoplesContainer">
  <article *ngFor="let user of userService.beerArr" class="people opacity">
    <app-user
      [beer]="user"
      (deleted)="userService.deleteBeer($event)"
      [routerLink]="['/user/', user.id]"
    ></app-user>
  </article>
  <article class="emptyBox" id="addButton" (click)="userService.addBeer()">
    <lucide-icon name="user-plus" class="myicon emptyBox__img"></lucide-icon>
  </article>
</main>
