@import "../../../scss/_reset.scss";
@import "../../../scss/_variable.scss";
@import "../../../scss/_mixins.scss";
@import "../../../scss/_typo.scss";
@keyframes fadeIn {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
}
body {
  background-color: $bg-color;
  color: $btnFont-color;
}

.header {
  @include itemCenterColumn;
  justify-content: space-around;
  height: 310px;
  padding-top: 50px;
  padding-bottom: 50px;
  &__button {
    color: $bg-color;
    background-color: $btnFont-color;
    height: 35px;
    font-size: $parag-font;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 18px;
    border: none;

    &:hover {
      cursor: pointer;
      background-color: $card-color;
      color: $btnFont-color;
      transition: 0.3s;
    }
    &:active {
      background-color: $lighten-black;
      color: $lighten-black;
      transform: scale(0.9);
      transition: 0.5s;
    }
  }
}

.peoplesContainer {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}
.people {
  background-color: $card-color;
  overflow: hidden;
  @include cardSize;
  border-radius: 8px;
  box-shadow: 0px 8px 56px 0px $lighten-black;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  transition: 0.3s;
  &:hover {
    cursor: pointer;
    transform: translate(1.05);
  }
}
.opacity {
  animation: 0.7s linear fadeIn;
}
.containerCard {
  display: flex;
  background-color: $card-color;
  justify-content: space-around;
  flex-direction: column;

  box-shadow: 0px -29px 30px 15px #ffffff;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 40px;
  height: 50%;
  position: absolute;
  bottom: 0;
}
.emptyBox {
  @include cardSize;
  border-radius: 8px;
  border: dashed 2px $lighten-black;
  @include itemCenter;
  transition: 0.5s;
  &__img {
    width: $title-font;
    height: $title-font;
    stroke-width: 1;
    color: $lighten-black;
  }
  &:hover {
    cursor: pointer;
    background-color: rgb(240, 240, 240);
    color: $card-color;
    border: dashed 2px $card-color;
    transition: 0.3s;
  }
  &:active {
    background-color: $lighten-black;
    transform: scale(0.97);
  }
}
