<header class="mainHeader">
  <nav class="mainHeader__nav">
    <ul>
      <li>
        <a routerLink="/" routerLinkActive="active">Accueil</a>
      </li>
      <li>
        <a routerLink="/user" routerLinkActive="active">Utilisateur</a>
      </li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>
