<img src="{{ beer?.pic }}" alt="profil pic" class="people__pic" />
<lucide-icon
  name="x-circle"
  class="myicon delete"
  (click)="clickButton()"
></lucide-icon>
<div class="containerCard">
  <h2 class="people__name">{{ beer?.name }}</h2>
  <p class="people__age">
    <lucide-icon name="gift" class="myicon"></lucide-icon>{{ beer?.age }}
  </p>
  <p class="people__adress">
    <lucide-icon name="home" class="myicon"></lucide-icon>{{ beer?.adress }}
  </p>
  <p class="people__mail">
    <lucide-icon name="mail" class="myicon"></lucide-icon>{{ beer?.mail }}
  </p>
</div>

<!-- (click)="deleteUser(this.user) -->
