@import "../../scss/_reset.scss";
@import "../../scss/_variable.scss";
@import "../../scss/_mixins.scss";
@import "../../scss/_typo.scss";

.people {
  background-color: $card-color;
  overflow: hidden;
  @include cardSize;
  border-radius: 8px;
  box-shadow: 0px 8px 56px 0px $lighten-black;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  transition: 0.3s;
  &__pic {
    height: 60%;
    width: 100%;
    padding: none;
    object-fit: cover;
    position: absolute;
    top: 0;
  }
  &__name {
    position: absolute;
    font-weight: bolder;
    white-space: nowrap;

    text-overflow: ellipsis;
    overflow: hidden;
    width: 80%;
    top: -17px;
  }
  &__age {
    font-size: $card-font;
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  &__adress {
    font-size: $card-font;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__mail {
    font-size: $card-font;
    display: flex;

    text-overflow: ellipsis;
    overflow: hidden;
    height: 30%;
  }
  &:hover {
    cursor: pointer;
    transform: translate(0);
    transform: scale(1.01);
  }
}
.opacity {
  animation: 0.7s linear fadeIn;
}

.containerCard {
  display: flex;
  background-color: $card-color;
  justify-content: space-around;
  flex-direction: column;

  box-shadow: 0px -29px 30px 15px #ffffff;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 40px;
  height: 50%;
  position: absolute;
  bottom: 0;
}
.delete {
  position: absolute;
  width: 1.7rem;
  top: 5px;
  right: 5px;
  fill: rgba(255, 255, 255, 0.25);
  stroke-width: 1;
  opacity: 0.5;
  transition: 0.3s;
  &:hover {
    cursor: pointer;
    fill: rgba(255, 255, 255, 0.968);
    transform: scale(1.1);
    opacity: 1;
  }
}
